.footer__home {
    text-align: center;
    margin-bottom: 20px auto;
    width: 90%;
    background-color:  var(--blanco);
}
/*STYLES FONTS FOOTER*/ 

.footer__home__section h3 {
    font-size: var(--decripciones);
    margin-top: 10 px;
}

.footer_home__section p {
    font-size: var(--cuerpos-de-texto);
}

/*STYLES ICONS*/


.icono__cardFooter {
    font-family: var(--tipografia);
    font-size: 2em;
    margin: 80px 0 10px;
    text-align: center;
    color: var(--celeste);
}

.icono__giftFooter {
    font-family: var(--tipografia);
    font-size: 2em;
    margin: 80px 0 10px;
    text-align: center;
    color: var(--celeste);
}

.icono__segurityFooter {
    font-family: var(--tipografia);
    font-size: 2em;
    margin: 80px 0 10px;
    text-align: center;
    color: var(--celeste);
}

.footer_home--copy {
    font-size: var(--cuerpos-de-texto);
    margin: 50px 30px;
    text-align: left;
}