.footer_home {
    text-align: center;
    margin-bottom: 20px;
}

/*STYLES ICONS*/

.icono__cardFooter {
    font-family: var(--tipografia);
    font-size: 2em;
    margin: 80px 0 10px;
    text-align: center;
    color: var(--celeste);
}

.icono__giftFooter {
    font-family: var(--tipografia);
    font-size: 2em;
    margin: 80px 0 10px;
    text-align: center;
    color: var(--celeste);
}

.icono__segurityFooter {
    font-family: var(--tipografia);
    font-size: 2em;
    margin: 80px 0 10px;
    text-align: center;
    color: var(--celeste);
}

.footer_home--copy {
    font-size: var(--cuerpos-de-texto);
    margin: 50px 30px;
    text-align: left;
}