header {
   
    background-color: var(--amarillo);
    padding: 30px 10px 20px;

}
/* LOGO*/
header figure {
    width: 200px;
    display: inline-block;
}

header figure img {
    width:100%;
}
/*BUSCADOR*/
header form.contenedor-search{
   }


header form.contenedor__search input {
  display: block;
  }



header form .contenedor__search button {
margin-top: 2px;
border-radius: 3px;
padding: 2px;
background: none;
cursor: pointer;
}
header form.contenedor__search button i{}

/*COMPRA*/
header .contenedor-compra {
    text-align: center;
    margin-top: 8px;
}

header .contenedor-compra i {}

header .contenedor-compra span.text {
    font-weight: 300;
    font-size: .7rem;
}

/*MENU*/
header .contenedor-menu {

}

header .contenedor-menu ul {
    list-style: none;
    padding: 0;}

header .contenedor-menu ul li {}

header .contenedor-menu ul li a {}

/*OPCIONNES*/
header .contenedor-opciones {
    margin-top: 8px;
}

header .contenedor-opciones ul {
    list-style: none;
    padding: 0;
}

header .contenedor-opciones ul li {}

header .contenedor-opciones ul li a {

}

header .contenedor-opciones ul li a i {
    margin-left: 7px;
}

/*BURGER MENU*/
header .container.burger-menu{
  text-align: center;
}

header button.burger-menu{
    border:none ;
    background-color: var(--celeste);
    color: var(--blanco);
    border-radius: 4px;
    padding: 5px 8px;
    margin: 0 auto;
    display: inherit; 
}
header button.burger-menu i{}


