.banner {
    width: 100%;
}

.banner img {
    width: 100%;
}


/*MAIN FONT SIZE*/

.contenedor__home__titular {
    font-size: var(--titulares);
    padding: 1rem 0rem;

}

.contenedor__home__article-img {
    width: 50%;
    height: 0 auto;
    /* Ajusta automáticamente la altura para mantener la proporción */
}

.contenedor__home__article-precio {
    font-size: var(--precios);
}

.contenedor__home__article-off {
    font-size: var(--descuentos);
    color: #39b54a;

}

.contenedor__home__article-descripcion {
    margin-top: 20px;
    font-size: var(--decripciones);

}

.contenedor__home__section {
    text-align: center;
}

/*SECCION MAIN*/

.home {}

.contenedor__home__section {
    margin: 0 auto;
    width: 90%;

}

/*PRODUCTS*/

.contenedor__home__article {
    margin-bottom: 10px;

    padding: 15px;
}

.contenedor__home__article-img {
    border-top: 1px solid #ebebeb;
}

/*PRODUCTS: caja interna dentro de la caja general*/

.contenedor__home__article-inner {
    border: none;
    padding: 0;
    position: relative;
    text-align: center;
}

/*TRUCK*/

.contenedor__home__article-inner i {
    /*display: block*/
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--blanco);
    color: var(--verde);
    text-align: center;
    /*line-height: op 40px;*/
    border: 2px solid var(--verde);
    /*padding: .7rem;*/

}

/* Punto de corte para tablets */

@media (min-width: 361px) {
    .contenedor__home__article-descripcion {
        ;
    }

    header button.burger-menu {
        display: none;
    }
}


/* Punto de corte para desktop */

@media (min-width: 769px) {
    .contenedor__home__article-img {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    header button.burger-menu {
        display: none;
    }

}